<div class="heading">
<p><strong>Find Material</strong></p>
</div>
<div class="line-1"></div>
<div class="name-contains">
    <p style="float:left; ">Name Contains</p>
    <mat-checkbox [labelPosition]='before' class="chckbox" ><strong>A-a</strong></mat-checkbox>
    <span>
    <input type="search" style="width: 200px;" placeholder="Enter name filter text here">
    <span id="clearBtn1" class="clearBtn">X</span>
    </span>
</div>
<!-- <div style="border: 1px solid red;">
     <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group> 
      <mat-tab-group>
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>
</div> -->


   