<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="stylegrid.css"> -->
    </head>
    <body>
        <main class="row">
            <div class="col-4 bg-primary">
                part 1
            </div>
            <div class="col-8 bg-secondary">

                <div class="bg-success h-50">
                    <app-trial></app-trial>
                    <!--part 2-->
                </div>
                <div class="bg-warning h-50">
                    part 3
                </div>
            </div>
        </main>
    </body>
    
</html>








<!-- 
<mat-slide-toggle>check</mat-slide-toggle>
<mat-divider [vertical] ="true" ></mat-divider>
<mat-slide-toggle>toggle</mat-slide-toggle> -->



