*{margin:0;padding:0;
box-sizing: border-box; }
main{
    width: 100vw;
    height: 100vh;
    margin:100px auto;
    display:grid;
    grid-template-rows: 150px 150px ;
    grid-template-columns: 75px 100px 80px;
    grid: gap 20px;
}

.div1{
    background-color:aqua;
    grid-row: 1/-1;}
.div2{
    background-color:blue ;
    grid-row: 1/2;}
.div3{
    background-color:beige;
    grid-column: 2/3;}

