<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="stylegrid.css"> -->
    </head>
    <body>
        <main>
            <div class="div1">
                part 1
            </div>
            <div class="div2">
                <!-- <app-trial></app-trial> -->
                part 2
            </div>
            <div class="div3">
                part 3
            </div>
        </main>
    </body>
    
</html>








<!-- 
<mat-slide-toggle>check</mat-slide-toggle>
<mat-divider [vertical] ="true" ></mat-divider>
<mat-slide-toggle>toggle</mat-slide-toggle> -->



