<div class="container-fluid">
    <div class="row bg-light">
        <div id="digitalClock" class="col-2 bg-red">{{tmi}}</div>
        <div class="col-10" id="container">
            <canvas #canvas width="2000" height="200"></canvas>
        </div>
    </div>
    <!--<button class="btn btn-primary" (click)="startAnimation(10)">play</button>-->
    <button (click)="zoom()" class="btn btn-primary mr-4 mt-4">+</button>
    <button (click)="zoom1()" class="btn btn-primary mt-4">-</button>
    <br>
    <div #gap class="mt-4">{{some}}</div>
</div>