
 #digitalClock {
    font-family: sans-serif;
    color: rgb(25, 24, 24);
    font-size: 26px;
    text-align: center;
}

#container {
    /* width: 750px; */
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px;
    /* scrollbar-x-position: top; */
    /* transform: rotate(180deg); */

}
.xyz{
    /* transform: rotate(-180deg); */

}



