#canvas {
    border: 2px solid red;
}

#digitalClock {
    font-family: sans-serif;
    color: red;
    font-size: 26px;
    text-align: center;
}

#container {
    width: 100%;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px;
}

.test{
    width: 100%;
    height: 100%;
}

.abc{
    width: 100%;
    border:1px solid black;
}